nav {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-item {
  color: white;
  padding: 20px 20px;
}

.nav-item:hover {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

body {
  margin: 0px;
  min-width: 300px;
}

.page-header {
  background-color: #bbb;
  padding: 10px;
  font-size: 20pt;
}

main {
  padding: 15px;
  float: left;
  width: calc(70% - 40px);
  /* width: 60%; */
  overflow: hidden;
}

aside {
  padding: 10px;
  margin: 10px;
  float: right;
  width: calc(30% - 40px);
  /* width: 25%; */
  border: black 1px solid;
}

@media only screen and (max-width: 500px) {
  main,
  aside {
    width: auto;
  }
}

footer {
  clear: both;
  background-color: darkgray;
}

#catalog {
  display: flex;
}

.pig-card {
  width: 200px;
  height: auto;
  text-align: center;
  margin: 10px;
}

.pig-name {
  font-weight: 800;
  display: block;
}
